// =================================================
//
// Button
//
// =================================================

button {
	display: inline-block;
	background: none;
	box-shadow: none;
	outline: none;
	padding: 0 26px;
	font-size: 18px;
	line-height: 42px;
	background: $white;
	border: 3px solid $dark-grey;
	color: $dark-grey;
	letter-spacing: 2px;
	font-family: $sans-serif;
	text-transform: uppercase;

	.no-touch &:hover {
		background: $dark-grey;
		color: $white;
	}
}
