// =================================================
//
// Button
//
// =================================================

button {
	display: inline-block;
	background: none;
	box-shadow: none;
	outline: none;
	padding: rem(10px) rem(20px) rem(8px);
	border: 1px solid $black;
	color: $black;
	letter-spacing: 2px;
	font-family: $sans-serif;
	text-transform: uppercase;

	.no-touch &:hover {
		background: $white;
	}
}
