// =================================================
//
// Button
//
// =================================================
$blue-grey: #55595d;
$blue-grey-alt: #4d5256;

button {
	position: relative;
	z-index: 1;
	display: inline-block;
	background: none;
	box-shadow: none;
	outline: none;
	padding: 0 26px;
	font-size: 18px;
	line-height: 42px;
	background: $blue-grey;
	border: 3px solid $blue-grey;
	color: $white;
	letter-spacing: 2px;
	font-family: $sans-serif;
	text-transform: uppercase;

	.no-touch &:hover {
		background: $red;
		border-color: $red;
		color: $white;
	}

}



// =================================================
//
// Arrow button for expandable size charts
//
// =================================================

.button-arrow {
	.icon-down-open-mini {
		position: absolute;
		z-index: 100;
		bottom: -36px;
		left: 0;
		width: 100%;
		font-size: rem(24px);
		line-height: 0.8;
		text-align: center;
		color: $dark-grey;
		opacity: 0;
		transform: translate3d(0,-15px,0) rotate(0deg);
		transition: opacity 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550), transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	}

	.no-touch &:hover {
		.icon-down-open-mini {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}

	&.active {
		background: $white;
		color: $black;
		.icon-down-open-mini {
			opacity: 1;
			transform: translate3d(0,0,0) rotate(0deg);
		}
	}

	.no-touch &.active:hover {
		.icon-down-open-mini {
			opacity: 1;
			transform: translate3d(0,0,0) rotate(180deg);
		}
	}
}
