// =================================================
//
// Owl Carousel - Controls
//
// =================================================

.owl-controls {
	width: 100%;
	z-index: 1000;
}


// Dot nav
.owl-dots {
	position: absolute;
	width: 100%;
	z-index: 1;
	bottom: rem(-50px);
	@include media($small) {
		bottom: rem(-60px);
	}

	.owl-dot {
		display: inline-block;
		width: 4px;
		height: rem(20px);
		margin-right: rem(8px);
		background: #ccc;
		transition: background 0.2s ease-in-out;

		.no-touch &:hover {
			background: #aaa;
		}

		&.active,
		.no-touch &.active:hover {
			background: #777;
		}

		&:last-child {
			margin-right: 0;
		}

		@include media($small) {
			width: 12px;
			height: 12px;
			margin-right: rem(12px);
			transform: rotate(0deg) translateZ(0);
			transition: transform 0.2s, background 0.2s;

			&.active,
			.no-touch &.active:hover {
				transform: rotate(45deg) translateZ(0);
			}
		}
	}
}

// Paddle Nav
.owl-nav {
	position: absolute;
	z-index: 9000;
	top: 50%;
	width: 100%;

	display: none;

	.no-touch & {
		display: block;
	}

	.owl-prev,
	.owl-next {
		float: left;
		padding: rem(40px) 0;
		font-size: rem(50px);
		background-color: rgba(255,255,255,0.4);
		color: $dark-grey;
		transform: translateY(-50%);

		.no-touch &:hover {
			color: $black;
			background-color: rgba(255,255,255,0.8);
		}
	}

	.owl-prev {
		float: left;
	}

	.owl-next {
		float: right;
	}
}
