// =================================================
//
// Owl Carousel - Controls
//
// =================================================

.owl-controls {
	position: relative;
}


// Dot nav
.owl-dots {
	position: relative;
	z-index: 1;
	padding-top: rem(20px);
	@include media($small) {
		padding-top: rem(40px);
	}

	.owl-dot {
		display: inline-block;
		width: 4px;
		height: rem(20px);
		margin-right: rem(8px);
		background: #ccc;
		transition: background 0.2s ease-in-out;

		.no-touch &:hover {
			background: #aaa;
		}

		&.active,
		.no-touch &.active:hover {
			background: #777;
		}

		&:last-child {
			margin-right: 0;
		}

		@include media($small) {
			width: 12px;
			height: 12px;
			margin-right: rem(12px);
			transform: rotate(0deg) translateZ(0);
			transition: transform 0.2s, background 0.2s;

			&.active,
			.no-touch &.active:hover {
				transform: rotate(45deg) translateZ(0);
			}
		}
	}
}

// Paddle Nav
.owl-nav {
	.touch & {
		display: none;
	}
}
