// =================================================
//
// Section - Details
//
// =================================================



.details-section {

	.section-header {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		@include media($medium) {
			max-width: 900px;
		}
	}

	.details-row {
		position: relative;
		z-index: 1;
		@include outer-container;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 4px;

		@include media($small) {
			padding: 0 10px;
		}
	}

	.details-column {
		width: 50%;
		float: left;
		padding: 4px;

		@include media($small) {
			padding: 10px;
		}

		@include media($medium) {
			width: 33.3%;
		}

		.fluid-image {
			position: relative;
			z-index: 1;
			overflow: hidden;

			img {
				position: relative;
				z-index: 10;
			}

			figcaption {
				position: absolute;
				z-index: 5;
				width: 100%;
				height: 82px;
				bottom: 0;
				background: $white;
				padding: 0 rem(20px);
				font-family: $sans-serif;
				text-align: left;

				h2 {
					margin: 20px 0 0 0;
					line-height: 22px;
					font-size: 18px;
				}
				p {
					margin: 0;
					line-height: 20px;
					font-size: 14px;
				}
			}
		}

		@include media($small) {
			.no-touch & img {
				transform: translate3d(0,0,0);
				transition: transform 0.3s ease-in-out;
			}
			.no-touch &:hover img {
				transform: translate3d(0,-80px,0);
			}

			.no-touch & figcaption {
				transform: translate3d(0,80px,0);
				transition: transform 0.3s ease-in-out;
			}
			.no-touch &:hover figcaption {
				transform: translate3d(0,0px,0);
			}
		}
	}

	.trigger {
		position: absolute;

		&.trigger-western {
			top: -60%;
		}
		&.trigger-polo {
			top : -5%;
		}
	}
}
