// =================================================
//
// Section - Footer
//
// =================================================

.footer {
	padding: rem(30px) 0;
	font-family: $sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: rem(12px);

	.credz {
		font-size: rem(10px);

		a.link {
			color: $black;
			.no-touch &:hover {
				color: $red;
			}
		}
	}
}
