// =================================================
//
// Section - Footer
//
// =================================================

.footer {
	background: $black;
	padding: rem(40px) 0;
	color: $white;
	text-align: center;
}
