// =================================================
//
// Section - Header
//
// =================================================

.header {
	position: relative;
	z-index: 1;
	height: 98vh;
	width: 100%;
	text-align: center;
	color: $black;

	background-image: url(../images/header_background.jpg);
	background-size: cover;
	background-position: 50% 50%;
	transform: translateZ(0);

	.no-touch & {
		background-attachment: fixed;
	}

	.header-intro {
		position: absolute;
		z-index: 2;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);

		margin-top: -80px;
	}

	.header-logo {
		margin: 0 auto rem(20px);
		width: rem(90px);
		@include media($medium) {
			width: rem(120px);
		}
	}

	h1 {
		font-size: 28px;
		margin-bottom: rem(50px);

		@include media($small) {
			font-size: 30px;
		}

		@include media($medium) {
			font-size: 34px;
		}
	}

	h2 {
		font-size: 20px;
		margin-bottom: 0;
		line-height: 1.2;

		@include media($medium) {
			font-size: 22px;
		}
	}

	p {
		font-size: 20px;
		margin-top: 0;

		@include media($medium) {
			font-size: 22px;
		}
	}

}
