// =================================================
//
// Section
//
// =================================================

.section {
	@include linear-gradient($grey, $off-white);
	padding: rem(60px) 0;
	text-align: center;

	@include media($medium) {
		padding: rem(100px) 0;
	}

	.section-header {
		margin-bottom: rem(60px);
	}
}
