// =================================================
//
// Section - Shop - Chart
//
// =================================================

.chart-button {
	margin-bottom: rem(40px);
}

.chart {
	background: #fff;
	font-size: rem(14px);
	text-align: left;
	margin-bottom: rem(30px);
	color: $dark-grey;

	@include media($large) {
		font-size: rem(15px);
	}
}

.chart-wrapper {
	padding: 20px 0 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	table {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	border-bottom: 1 px solid $light-grey;
	font-family: $sans-serif;

		th {
			padding: 10px 4px;
			font-weight: normal;
			color: $black;
		}
		td {
			padding: 10px 4px;
			border-top: 1px solid $light-grey;
			border-left: 1px solid $light-grey;

			&.first {
				text-align: left;
				color: $black;
				border-left: none;
				padding-left: 8px;
			}
		}

		sup {
			font-size:.8em;
		}
	}
}
