// =================================================
//
// Section - Shop
//
// =================================================

.shop-section {

	// Hanger
	.hanger {
		@include clearfix;
		max-width: 1618px;
		margin: 0 auto;
		padding-top: rem(30px);
	}

	.hanger-column {

		.fluid-image {
			max-width: 110%;
		}


		@include media($medium) {
			width: 50%;
			float: left;
		}
	}

	.hanger-column-left {
		.fluid-image {
			margin-left: -10%;
		}
	}

	.hanger-column-right {
		.fluid-image {
			margin-right: -10%;
		}
	}
}
