// =================================================
//
// Section - Shop - Buy
//
// =================================================

.buy {
	table {
		width: 265px;
		margin: 0 auto;
	}
	.buy-button {
		float: left;
	}

}

.purchase-price {
	margin-bottom: rem(5px);
}


// TODO: better class names
.purchase {
	position: absolute;
	width: 90%;
	max-width: 720px;
	z-index: 100;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: rem(60px);

	@include media(min-width 1620px) {
		transform: none;
		padding-bottom: rem(40px);

		&.right {
			left: 40px;
		}
		&.left {
			left: auto;
			right: 40px;
		}
	}
}
.shipping {
	font-style: italic;
}
