// =================================================
//
// Section - Shop
//
// 1. to match the color of the background on the shirts
//
// =================================================

.shop-section {
	@include linear-gradient($grey, $off-white 20%);

	.hanger-wrapper {
		background: $off-white; // 1
	}

	.hanger {
		@include clearfix;
		max-width: 1618px;
		padding-top: rem(30px);
		margin: 0 auto;
		overflow: hidden;
	}

	.hanger-column {

		.fluid-image {
			max-width: 110%;
		}


		@include media($medium) {
			width: 50%;
			float: left;
		}
	}
}
