// =================================================
//
// Section - Shop
//
// 1. to match the color of the background on the shirts
//
// =================================================

.shop-section {
	@include linear-gradient($light-grey, $off-white 20%);

	.hanger-wrapper {
		background: $off-white; // 1
	}

	.hanger {
		padding-top: rem(30px);
		overflow: hidden;
	}

	.hanger-column {
		@include clearfix;
		position: relative;
		z-index: 1;
		padding-bottom: rem(180px);

		.fluid-image {
			img {
				max-width: 110%;
			}
		}

		@include media(min-width 460px) {
			padding-bottom: rem(110px);
		}
		@include media($small) {
			padding-bottom: rem(80px);
		}
		@include media(min-width 620px) {
			padding-bottom: rem(60px);
		}
		@include media($medium) {
			width: 50%;
			float: left;
			padding-bottom: rem(180px);
		}
		@include media(min-width 920px) {
			padding-bottom: rem(140px);
		}
		@include media($large) {
			padding-bottom: rem(100px);
		}
		@include media(min-width 1500px) {
			padding-bottom: rem(60px);
		}
		@include media(min-width 1620px) {
			padding-bottom: 0;
		}
	}

	.hanger-column-left {
		.fluid-image img {
			float: right;
		}
	}

	.hanger-column-right {
		.fluid-image img {
			float: left;
		}
	}

}
