// =================================================
//
// Button
//
// =================================================

button {
	display: inline-block;
	background: none;
	box-shadow: none;
	padding: rem(10px) rem(20px) rem(8px);
	border: 2px solid $dark-grey;
	color: $dark-grey;
	letter-spacing: 2px;
	font-family: $sans-serif;
	text-transform: uppercase;
}
