// =================================================
//
// 1. Remove the background applied by normalize because:
//
// In the absence of a background on the html element,
// the body background will cover the page. If there
// is a background on the html element, the body background
// behaves just like any other element.
//
// 2. Border box all the things cuz its awesome
//
// =================================================

html {
	background: none; // 1
	height: 100%;
}

html *, body * {
	box-sizing: border-box; // 2
}

// =================================================
// Colors
// =================================================

$white:      #fff;
$white-grey: #f5f5f5;
$dark-grey:  #888;
$black:      #444;


// =================================================
// Breakpoints
// =================================================

$small: new-breakpoint(min-width 480px 4);
$medium: new-breakpoint(min-width 760px 6);
$large: new-breakpoint(min-width 1200px 12);


// =================================================
// Bourbon Grid Settings
// =================================================

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
